// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$sport-main: #FFCC70;
$sport-bg: #FFFADD;
$sport-secondary: #8ECDDD;
$sport-main-pitch: #22668D;
