.pages-dashboard {
  h3 {
    margin: 0;
  }
}
.events {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem;
  .card-event {
    flex: 0 0 240px;
  }
}


.event-count {
  font-size: 1em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-bottom: 20px; /* Donne un peu d'espace en dessous de la ligne */
}

.upcoming-schedule {
  font-size: 1.2em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-top: 30px; /* Ajuste l'espacement au-dessus de la ligne */
  margin-bottom: 20px; /* Ajuste l'espacement en dessous de la ligne */
}


.sport-logos-container {
  display: flex;
  flex-wrap: wrap;
}

.small-logo {
  width: 30px; /* Définissez la taille souhaitée */
  height: auto; /* Pour maintenir les proportions de l'image */
  margin-right: 10px; /* Espacement entre les logos */
  margin-bottom: 10px; /* Espacement sous les logos */
}

.small-button {
  font-size: 10px; /* Définissez la taille de la police */
  padding: 0.25rem 0.5rem; /* Définissez les rembourrages du bouton */
  line-height: 1; /* Ajustez la hauteur de ligne */
  background-color: #8ECDDD;
  border-color: #FFFADD;
}




 /* Style des cartes de sélection des sports pour qu'elles correspondent aux boutons de filtre de date */
.gpt-sport-card-col {
  padding: 5px;
}

.gpt-sport-cards-row {
  margin: 0;
}

.custom-label {
  border: 3px solid transparent; /* Bordure initiale transparente */
  border-radius: 10px; /* Arrondir les coins des cartes */
  padding: 6px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer le contenu */
  align-items: center; /* Centrer le contenu */
  transition: border-color 0.3s ease; /* Animation fluide pour le changement de bordure */
  cursor: pointer; /* Indiquer que la carte est cliquable */
}

.gpt-card-img {
  max-width: 80%;
  margin: 10px auto;
}

.category-input {
  display: none; /* Cache complètement la case à cocher */
}

.gpt-sport-card.gpt-border-selected {
  border-color: #23668d; /* Couleur de la bordure pour les cartes sélectionnées */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour les cartes sélectionnées */
}

.gpt-btn-update-favorites {
  margin-bottom: 60px; /* Assure que le bouton ne soit pas caché par la navbar */
}
