.pages-dashboard {
  h3 {
    margin-top: 1rem;
  }
  h1 {
    margin-bottom: 1rem;
    margin-left: 0;
    margin-top: 2rem;
  }
}
.events {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem;
  scrollbar-color: $sport-main $sport-main;
  &::-webkit-scrollbar-thumb {
    background: $sport-main;
  }
  .card-event {
    flex: 0 0 240px;
    height: 33vh;
  }
}


.event-count {
  font-size: 1em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-bottom: 20px; /* Donne un peu d'espace en dessous de la ligne */
}

.upcoming-schedule {
  font-size: 1.2em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-top: 30px; /* Ajuste l'espacement au-dessus de la ligne */
  margin-bottom: 20px; /* Ajuste l'espacement en dessous de la ligne */
}


.sport-logos-container {
  display: flex;
  flex-wrap: wrap;
}

.small-logo {
  width: 30px; /* Définissez la taille souhaitée */
  height: auto; /* Pour maintenir les proportions de l'image */
  margin-right: 10px; /* Espacement entre les logos */
  margin-bottom: 10px; /* Espacement sous les logos */
}

// .gpt-sport-card {
//   background-color: white;
//   border-color: #22668D;
//   width: 100px;
//   height: 100px;
// }

// .gpt-card-img {
//   background-color: white;
//   border-color: #22668D;
//   width: 100px;
//   height: 100px;
// }

.gpt-border-selected {
  background-color: white;
  border-color: #22668D;
  width: 100px;
  height: 100px;
}

.btn-update-favorites {
  background-color: white;
  color: #22668D;
  border-color: #22668D;
  width: 180px;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-width: 2px;
  border-style: outset;
  text-align: center;
}



/* Style des cartes de sélection des sports */
.gpt-sports-container {
  padding: 0 15px;
}

.gpt-sport-card-col {
  padding: 5px;
}

.gpt-sport-cards-row {
  margin: 0;
}

.custom-label {
  border: 3px solid transparent; /* Bordure initiale transparente */
  border-radius: 10px; /* Arrondir les coins des cartes */
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu */
  justify-content: center; /* Centrer le contenu */
  background-color: white; /* Fond des cartes */
  cursor: pointer; /* Indiquer que la carte est cliquable */
  transition: all 0.3s ease; /* Animation fluide pour les changements d'état */
}

.category-input:checked + label {
  // border: 3px solid #23668d; /* Couleur de la bordure pour les cartes sélectionnées */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* Ombre pour la carte sélectionnée */
}

.gpt-card-img {
  max-width: 80%;
  margin: 10px auto;
}

.category-input {
  display: none; /* Cache complètement la case à cocher */
}

.gpt-btn-update-favorites {
  margin-bottom: 60px; /* Assure que le bouton ne soit pas caché par la navbar */
  background-color: $sport-bg;
  color: #22668D;
  padding: 0.7rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
}

.stretched-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
