.pages-dashboard {
  h3 {
    margin: 0;
  }
}
.events {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem;
  .card-event {
    flex: 0 0 240px;
  }
}


.event-count {
  font-size: 1em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-bottom: 20px; /* Donne un peu d'espace en dessous de la ligne */
}

.upcoming-schedule {
  font-size: 1.2em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-top: 30px; /* Ajuste l'espacement au-dessus de la ligne */
  margin-bottom: 20px; /* Ajuste l'espacement en dessous de la ligne */
}


.sport-logos-container {
  display: flex;
  flex-wrap: wrap;
}

.small-logo {
  width: 30px; /* Définissez la taille souhaitée */
  height: auto; /* Pour maintenir les proportions de l'image */
  margin-right: 10px; /* Espacement entre les logos */
  margin-bottom: 10px; /* Espacement sous les logos */
}

.small-button {
  font-size: 10px; /* Définissez la taille de la police */
  padding: 0.25rem 0.5rem; /* Définissez les rembourrages du bouton */
  line-height: 1; /* Ajustez la hauteur de ligne */
  background-color: #8ECDDD;
  border-color: #FFFADD;
}
