<div class="modal fade" id="edit-event-<%= event.id %>" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEventModalLabel">Edit Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="editEventModalBody">
        <%= render 'events/form', event: event %>
      </div>
    </div>
  </div>
</div>
