<div class="container-home">
  <%= image_tag "home.svg", id: "home-logo" %>

  <h2 class="main-pitch">Meet new people to move your body</h2>

  <%= link_to "GO", events_path, class: "home-button" %>
</div>
