.join-cta {
  padding: 20px 24px;
  text-align: center;
  display: block;
  font-size: 20px;
  border-radius: 0px;
  width: 100%;
  border-radius: 20%;
  background-color: #8ECDDD;
  color: white;

  .join-cta:hover {
  background-color: #ffffff9d;
  }

}
