.player-count {
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 2rem;
}

.custom-player-count {
  align-items: center !important;
}

.input-group-prepend {
  div {
    margin-bottom: 0 !important;
  }
}
