.card {
  border-radius: 15px; /* Bordures arrondies pour les cartes */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour donner du relief */
  transition: transform 0.2s; /* Animation pour le survol */
  margin-bottom: 1.5rem; /* Espacement au-dessous de chaque carte */
}

.card:hover {
  transform: scale(1.05);
  border: 4px solid #D0FD6C; /* Effet de zoom au survol */
}

.btn-container {
  height: 47px;
}
