.st-card {
  border: 1px solid red;
  padding: 1rem;
  border-radius: 50px;
  background-color: rgb(195, 209, 192);
}

.card {
  border-radius: 15px; /* Bordures arrondies pour les cartes */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour donner du relief */
  transition: transform 0.2s; /* Animation pour le survol */
  margin-bottom: 1.5rem; /* Espacement au-dessous de chaque carte */
}

.card:hover {
  transform: scale(1.05);
  border: 4px solid
}

.btn-container {
  height: 47px;
}

.btn-primary {
  color: #2F2E41;
  background: #FFFADD;
  border-color: #FFFADD;
  border-radius: 25px;
  font-weight: bold;
}

h5, .h5 {
  font-size: 1,5rem;
  font-weight: bolder;
  color: #2F2E41;
}

.card-text {
  text-align: left;
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

.border-clean {
  border: 1px solid #d0d0d0;
  margin: 10px;
  padding: 10px;
  width: 150px;
}

.des {
  align-items: center;
  padding-top: 4px !important;

}
