
.event-count {
  font-size: 1em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-bottom: 20px; /* Donne un peu d'espace en dessous de la ligne */
}

.upcoming-schedule {
  font-size: 1.2em; /* Ajuste la taille comme tu le souhaites */
  text-align: center; /* Centre le texte */
  margin-top: 30px; /* Ajuste l'espacement au-dessus de la ligne */
  margin-bottom: 20px; /* Ajuste l'espacement en dessous de la ligne */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  flex: 1; /* Les cartes prendront une largeur égale dans la rangée */
  margin: 10px; /* Ajoute un peu d'espace autour des cartes */
  display: flex;
  flex-direction: column; /* Organise le contenu des cartes en colonne */
}

.card {
  flex: 1; /* Les cartes se développeront pour occuper l'espace disponible */
  display: flex;
  flex-direction: column; /* Organise le contenu des cartes en colonne */
  justify-content: space-between; /* Répartit l'espace intérieur de la carte */
  padding: 20px; /* Espacement à l'intérieur de la carte */
  border: 1px solid #ccc; /* Bordure de la carte, optionnelle */
  border-radius: 10px; /* Bordures arrondies pour les cartes */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Ombre de la carte pour le relief */
  background: #fff; /* Couleur de fond de la carte */
}

.card-body {
  flex: 1; /* Permet au corps de la carte de se développer */
  display: flex;
  flex-direction: column; /* Organise le contenu en colonne */
  justify-content: center; /* Centre le contenu verticalement */
  align-items: center; /* Centre le contenu horizontalement */
  text-align: center; /* Centre le texte à l'intérieur du corps de la carte */
}
.sport-logos-container {
  display: flex;
  flex-wrap: wrap;
}

.small-logo {
  width: 30px; /* Définissez la taille souhaitée */
  height: auto; /* Pour maintenir les proportions de l'image */
  margin-right: 10px; /* Espacement entre les logos */
  margin-bottom: 10px; /* Espacement sous les logos */
}

.small-button {
  font-size: 10px; /* Définissez la taille de la police */
  padding: 0.25rem 0.5rem; /* Définissez les rembourrages du bouton */
  line-height: 1; /* Ajustez la hauteur de ligne */
  background-color: #8ECDDD;
  border-color: #FFFADD;
}

.card, .card.h-100, .card.h-100-flex.flex-column {
  background-color: #FFFADD;
}
