.offcanvas.event-show-offcanvas {
  background-color: white;
  overflow: hidden;
  height: 60vh !important;
  .offcanvas-body {
    padding: 0;
    font-size: 19px;
  }

}

.offcanvas {
  .offcanvas-img {
    background-size: cover;
    height: 180px;
    padding: .5rem;
    display: flex;
    flex-direction: column;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);
    }
  }
}


.event-show-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:#FFFADD ;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  .event-show-card-main-picture {
    height: 230px;
    background-size: cover;
    background-position: center;
  }
}

.join-button {
  background-color: #8ECDDD;
  color: white;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  width: 200px !important;
  margin: 1rem 0 2rem;
  margin-left: 10px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  justify-content: space-between;
  align-items: center;
}
