.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

button {
  background: #BFB5FE;
  border-color: #BFB5FE;
  color: whitesmoke;
  border-radius: 0px;
}
