.navbar-lewagon {
  justify-content: space-between;
  background: #8ECDDD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link img {
  width: 20px;
  height: 20px;
}
.nav-link:has(img) {
  padding: 0;
}


@keyframes shake {
  20% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
