.navbar-lewagon {
  justify-content: space-between;
  background: #8ECDDD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link img {
  width: 20px;
  height: 20px;
}
.nav-link:has(img) {
  padding: 0;
}

.navbar-lewagon {
  .fa-location-dot {
    font-size: 2rem;
    color: #22668D;
    margin-bottom: 2rem;
  }

  .logo-img {
    background-size: cover;
    height: 180px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);
    }

  }

  .fa-user {
    font-size: 2rem;
    color: #22668D;
    margin-bottom: 2rem;
  }

  .fa-magnifying-glass {
    font-size: 2rem;
    color: #22668D;
    margin-bottom: 2rem;
  }

  .fa-plus {
    font-size: 2rem;
    color: #22668D;
    margin-bottom: 2rem;
  }
}


.nav-link.search-toggle.active {
  i {color: white;}
}
