.navbar-lewagon {
  justify-content: space-between;
  background: #D0FD6C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  max-width: 100%;
  height: auto;/* Maintain aspect ratio */
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link img {
  width: 40px;
}
.nav-link:has(img) {
  padding: 0;
}

.add-btn:hover {
  animation: shake 0.8s linear;
}

@keyframes shake {
  20% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
