.events-search {
  background: #FFFADD;
}

.tag-item {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.5rem 0.5rem;
  background-color:$sport-bg;
  color:#22668D;
  font-weight: bold;
  border: 1px solid;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;

}

.tag-selector:checked + label {
  background-color: #8ECDDD;
  color: #FFFADD;
}

button {
  background-color: white;
  color: #22668D;
  border-color: #22668D;
  width: 180px;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.form-switch {
background: #FFCC70;
}

.form-check-input:checked {
    background-color: #8ECDDD;
    border-color: #8ECDDD;
}

.form-control {
  background-color:#FFFADD;
  border-radius: 20px;
}



.search-form .form-label {
  font-size: 1.3rem;
  font-weight: 500;
}

.search-form-part {
  margin: 3rem 0;
  h4 {
    margin-bottom: 1.5rem;
  }
  .schedule-event {
    display: flex;
    justify-content: center;
  }
}

.sport-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.custom-label {
  background-color: $sport-bg;
  border-radius: 5px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 6px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border: 3px solid transparent;
}

.category-input {
  position: absolute;
  transform: scale(0);
}
.category-input:checked + label {
  // border: 3px solid $sport-main-pitch;
}

.search-form {
  button {
    width: 100%;
  }
}

h1 {
  margin-top: 3rem;
  font-weight: bold;
}

h4 {
  font-weight: 600;
}
