.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color:#8ECDDD;
  color: #FFFADD;
  border: 1px solid;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #22668D;
  color: #FFFADD;
}

button {
  background-color: #FFFADD;
  color: #22668D;
  width: 100px;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
}

.offcanvas {
  height: 300px !important;
}

.form-switch {
background: #FFCC70;
}

.form-check-input:checked {
    background-color: #8ECDDD;
    border-color: #8ECDDD;
}

.form-control {
  background-color: #FFFADD;
  border-radius: 20px;
}

.form-label {
  font-weight: bold;
}
