// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

<<<<<<< HEAD

h3 {
  font-size: 1.1rem;
=======
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none
  }
>>>>>>> dd9b44a0f5c58332341b524d9574d40474a24070
}
